.chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  
  .chat-content {
    flex: 1;
    overflow-y: auto; /* Enable scrolling */
    padding: 10px;
  }
  
  
  .circular-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
  }
  
  .chat-list {
    list-style-type: none;
    padding: 0;
  }
  
  .chat-item {
    margin-bottom: 15px;
    display: flex; /* To display items in a row */
    align-items: flex-start; /* To align items at the top */
  }
  
  .chat-box {
    background-color: #ffffff; /* Default background color */
    color: #000; /* Default text color */
    padding: 10px;
    display: inline-block; /* Adjusts its width according to content */
    word-wrap: break-word;
    position: relative;
    border-radius: 0 8px 8px 8px; /* Individual border radius for each corner */
  }
  
  
  .chat-box.self-chat {
    background-color: #007bff;
    border-radius: 8px 0 8px 8px; /* Background color for self chat */
    color: #fff; /* Text color for self chat */
    margin-left: auto; /* Move the self chat box to the right */
  }
  
  
  .chat-time {
    font-size: 0.75rem;
    position: absolute;
    bottom: -20px;
    right: 10px;
  }
  
  .other-message-box {
    margin-left: 10px;
  }
  
  .sender-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .sender-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .sender-name {
    margin-left: 10px;
    font-weight: bold;
  }
  